<div class='row'>
  <div class='col-md-5'>
    <div class="panel panel-default"> 
      <div class="panel-heading">Employee Activity</div>
      <div class="panel-body">
        <div class='col-md-12'>
          <div class='col-md-4 circle'>
            S
          </div>
          <div class='col-md-8' style='padding-top: 3px;'>
            Made a commit
          </div>
        </div>

        <div class='col-md-12'>
          <div class='col-md-4 circle'>
            S
          </div>
          <div class='col-md-8' style='padding-top: 3px;'>
            Made a commit
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class='col-md-7'>
    <div class="panel panel-default"> <div class="panel-heading">Project Status</div> <div class="panel-body"> Panel content </div> </div>

  </div>
</div>